/* home page css start */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

header {
  z-index: 99;
}

.nav-bar {
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(23, 21, 45, 0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
  margin-left: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.menu-demo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.demo-btn {
  background: #ff6332;
  border-radius: 3px;
  width: 136px;
  height: 32px;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}

.menu-btn-icon {
  margin-left: 7px;
}

.hero-section {
  height: 80vh;
  background-image: url("../images/Hero-Banner-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-headding {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  color: #15293f;
  width: 420.71px;
  text-align: center;
}

.hero-para {
  width: 235.56px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #15293f;
  margin-top: 26px;
  margin-bottom: 30px;
}

.hero-btn {
  background: #ff6332;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 159px;
  height: 50px;
  border: none;
  margin-bottom: 30px;
}

.hero-company-logo {
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 16px;
}

.grow-your-programs {
  margin-top: 65px;
  margin-bottom: 100px;
}

.grow-your-programs-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2-headding {
  font-weight: 400;
  font-size: 44px;
  line-height: 48.5px;
  text-align: center;
  width: 590px;
}

.h2-headding span {
  font-weight: 700;
  font-size: 52px;
}

.grow-your-programs p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #15293f;
  width: 525px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 25px;
}

.grow-your-programs-contents h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #06a9db;
}

.grow-your-programs-image {
  padding-top: 46px;
  padding-bottom: 21px;
}

.watch-btn-wapper {
  background: #ff6332;
  border: 12px solid #fff5f1;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 75px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.watch-btn-icon {
  margin-right: 17px;
}

.the-open-water-platform {
  background: #041d34;
  padding-top: 102px;
  padding-bottom: 100px;
}

.the-open-water-platform-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.h2-headding-the-open-water-platform {
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  width: 648px;
}

.h2-headding-the-open-water-platform span {
  font-weight: 600;
}

.open-water-platform-box {
  background: #112d44;
  box-shadow: 0px 26px 4px rgba(14, 12, 71, 0.04);
  border-radius: 7px;
  padding: 30px !important;
  margin-top: 15px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.open-water-platform-box .blue {
  height: 3px;
  background: #3196f5;
  border-radius: 21px;
  opacity: 1;
}

.open-water-platform-box .orange {
  height: 3px;
  background: #f56d42;
  border-radius: 21px;
  opacity: 1;
}
.better-platform-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.96);
  margin-bottom: 0px;
}

.platform-icon {
  margin-right: 16px;
}

.open-water-platform-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}

.better-platform-heading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 20px;
}

.the-open-water-platform-row-wrapper {
  width: 1092px;
}

.platform-dropdown-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
}

.platform-dropdown {
  height: 600px;
  background-color: #fff;
  display: block;
  position: absolute;
  margin-top: 6px;
  box-shadow: 0px 48px 34px rgba(97, 114, 141, 0.25);
  border-radius: 5px;
}

.the-power-of-open-water {
  background-image: url("../images/The-Power-of-Openwater-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
}

.the-power-of-open-water-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 113px;
  padding-bottom: 192px;
}

.the-power-of-open-water-container h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 51px;
  color: #15293f;
}

.the-power-of-open-water-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 51px;
  color: #15293f;
}

.the-power-of-open-water-container h2 span {
  color: #3196f5;
}

.the-power-of-open-water-container-p {
  width: 528.05px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #15293f;
  text-align: center;
  margin-top: 20px;
}

.the-power-of-open-water-box {
  background: rgba(255, 255, 255, 0.95);
  border: 11px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0px 34px 8px rgba(33, 56, 138, 0.07);
  border-radius: 6.48387px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px 18px;
}

.the-open-water-platform-heading-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.the-power-of-open-water-box h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 39.3351px;
  line-height: 41px;
  color: #15293f;
}

.the-power-of-open-water-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 17.2903px;
  line-height: 24px;
  color: #15293f;
}

.power-box-heading-wrapper {
  margin-left: 18px;
}

.power-box-heading-wrapper p {
  margin-top: 20px;
}

.power-of-open-water-box-wrapper {
  width: 898px;
}

.industry-leaders {
  padding-bottom: 100px;
}

.industry-leaders h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  color: #3196f5;
  text-align: center;
}

/* industry slider css start */
.swiper-wrapper {
  transition-timing-function: linear !important;
}
/* industry slider css end */
.home-page-cta {
  margin-bottom: 80px;
}

.cta-background {
  position: relative;
  display: flex;
  justify-content: center;
}

.cta-headding {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(30, 39, 118, 0.15);
  position: absolute;
  top: 0;
  padding: 40px;
  width: 1000px;
}

.at-glance {
  margin-bottom: 71px;
}

.at-glance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.at-glance-box-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #15293f;
  width: 141px;
  padding-top: 18px;
}

.at-glance-box-para {
  width: 273.86px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #15293f;
}

.at-glance-row {
  padding-top: 75px;
  padding-bottom: 85px;
}

.at-glance-title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
}

.at-glance-title span {
  color: #3196f5;
}

.at-glance-para {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #15293f;
  width: 464.32px;
}

.at-glance-btn {
  background: #ff6332;
  border-radius: 100px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  width: 159px;
  height: 50px;
  margin-top: 50px;
}

.testimonials {
  background: #f6f8fc;
  padding-top: 128px;
  padding-bottom: 128px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-short-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  color: #3196f5;
}

.testimonials-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48.7195px;
  line-height: 51px;
  color: #2d3436;
}

.testimonials-reviews {
  margin-top: 20px;
}

/* testimonial slider start */

.testimonial-slider {
  height: 680px;
  margin-top: 60px;
  padding-bottom: 40px !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.testimonial-slider-card {
  background: #ffffff;
  box-shadow: 0px 29.3947px 16.0335px rgba(82, 83, 109, 0.08);
  border-radius: 11px;
  padding: 35px;
}

.testimonial-company-logo {
  margin-left: 30px;
}

.testimonial-para {
  height: 300px;
}

.testimonial-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #15293f;
}

.testimonial-designation {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #3196f5;
}

/* testimonial slider end */

.tons-of-integrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f8fc;
}

.tons-of-integrations .at-glance-btn {
  margin-top: 32px;
}

.faq-section {
  background: #0d2943;
  padding-top: 115px;
  padding-bottom: 163px;
}

.faq-header {
  color: #fff;
  margin-bottom: 32px;
}

.accordion-button {
  background-color: #0d2943 !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  border-bottom: 3px solid red !important;
}

.accordion-body {
  background-color: #0d2943 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 3px red solid !important;
  padding: 20px 40px !important;
}

.accordion-item {
  border: none !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top: 3px red solid !important;
  border-bottom: 3px red solid !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-size: 18px;
}

.accordion-header {
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
}


.accordion-button::after{
  background-image: url('../images/plus.svg') !important;
}

.accordion-button:not(.collapsed)::after{
  transform: rotate(135deg) !important;
}

.accordion-item:last-of-type .accordion-button.collapsed{
  border-bottom-right-radius: 0px !important ;
  border-bottom-left-radius: 0px !important ;
}

.faq-container{
  max-width: 800px !important;
}

/* tons-of-integrations slider start */

.tons-of-integrations-slider{
  height: 180px;
  padding: 40px !important;
}
.tons-of-integrations-logo-box{
background: #FFFFFF;
box-shadow: 0px 19px 16.0335px rgba(82, 83, 109, 0.05);
border-radius: 10px;
display: flex !important;
justify-content: center;
align-items: center;

}

.tons-of-integrations-slider-right{
  height: 180px;
  padding: 40px !important;
}

/* tons-of-integrations slider end */
/* home page css end */
