/* home page css start */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.link-to {
  text-decoration: none;
}

header {
  z-index: 99;
}

.nav-bar {
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(23, 21, 45, 0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
  margin-left: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.menu-demo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.demo-btn {
  background: #ff6332;
  border-radius: 3px;
  width: 136px;
  height: 32px;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}

.menu-btn-icon {
  margin-left: 7px;
}

.hero-section {
  height: 70vh;
  background-image: url("../images/Hero-Banner-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-headding {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  color: #15293f;
  width: 420.71px;
  text-align: center;
}

.hero-para {
  width: 235.56px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #15293f;
  margin-top: 26px;
  margin-bottom: 30px;
}

.hero-btn {
  background: #ff6332;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 159px;
  height: 50px;
  border: none;
  margin-bottom: 30px;
}

.hero-company-logo {
  margin-top: 16px;
}

.grow-your-programs {
  margin-top: 65px;
  margin-bottom: 100px;
}

.grow-your-programs-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2-headding {
  font-weight: 400;
  font-size: 44px;
  line-height: 48.5px;
  text-align: center;
  width: 590px;
}

.h2-headding span {
  font-weight: 700;
  font-size: 52px;
}

.grow-your-programs p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #15293f;
  width: 525px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 25px;
}

.row.inc-row {
  margin-bottom: 20px;
}

.grow-your-programs-contents h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #06a9db;
}

.grow-your-programs-image {
  padding-top: 46px;
  padding-bottom: 21px;
}

.watch-btn-wrapper {
  background: #ff6332;
  border: 12px solid #fff5f1;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 75px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#grow-your-programs-lottie {
  width: 600px;
  margin-top: 46px;
  margin-bottom: 21px;
  margin-left: -30px;
}

.the-open-water-platform hr {
  margin: 0;
}

.watch-btn-icon {
  margin-right: 17px;
}

.the-open-water-platform {
  background: #041d34;
  padding-top: 102px;
  padding-bottom: 100px;
}

.the-open-water-platform-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.h2-headding-the-open-water-platform {
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  width: 648px;
}

.h2-headding-the-open-water-platform span {
  font-weight: 600;
}

.open-water-platform-box {
  background: #112d44;
  box-shadow: 0px 26px 4px rgba(14, 12, 71, 0.04);
  border-radius: 10px;
  padding: 30px !important;
  margin-top: 18px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.open-water-platform-box .blue {
  height: 3px;
  background: #3196f5;
  border-radius: 21px;
  opacity: 1;
}

.open-water-platform-box .orange {
  height: 3px;
  background: #f56d42;
  border-radius: 21px;
  opacity: 1;
}
.better-platform-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.96);
  margin-bottom: 0px;
}

.platform-icon {
  margin-right: 16px;
}

.open-water-platform-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  margin: 0px;
}

.better-platform-heading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 20px;
}

.the-open-water-platform-row-wrapper {
  width: 1092px;
}

.platform-dropdown-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
}

.platform-dropdown {
  background-color: #fff;
  display: block;
  position: absolute;
  margin-top: 6px;
  box-shadow: 0px 48px 34px rgba(97, 114, 141, 0.25);
  border-radius: 5px;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 48px;
  padding-bottom: 39px;
  z-index: 99;
}

.platform-menu-headding {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #15293f;
  padding-left: 14px;
}

.menu-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.menu-links:hover {
  background: #e8f4fe;
}

.menu-links h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #15293f;
  margin: 0px !important;
}

.menu-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2d3436;
  margin: 0px !important;
}

.menu-dropdown-text {
  margin-left: 23px;
}

.menu-links-integrations {
  margin-top: 3px;
  padding: 7px 7px 7px 14px;
  border-radius: 5px;
}

.menu-links-integrations:hover {
  background: #e8f4fe;
}

.menu-links-integrations h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #15293f;
  margin: 0px !important;
}

.menu-links-integrations p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2d3436;
  margin: 0px !important;
  width: 238px;
}

.menu-links-integrations .menu-dropdown-text {
  margin-left: 0px;
}

.platform-border {
  border-right: 1px solid rgba(170, 180, 190, 0.45);
}

.integration-padding {
  padding-left: 40px !important;
}

.hero-reviews {
  display: flex;
  align-items: center;
}

.hero-reviews p {
  margin: 3px 0px 0px 10px;
}

.menu-integration-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #93949c;
  width: 87.2px;
  height: 28.17px;
  background: #f4f4f6;
  border-radius: 3px;
  margin-top: 26px;
  border: none;
  margin-left: 14px;
}

.menu-integration-btn:hover {
  color: #3196f5;
  background: #e8f4fe;
}

.menu-dropdown-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.resources-dropdown-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
}

.resources-dropdown {
  background-color: #fff;
  display: block;
  position: absolute;
  margin-top: 6px;
  box-shadow: 0px 48px 34px rgba(97, 114, 141, 0.25);
  border-radius: 5px;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 48px;
  padding-bottom: 39px;
  z-index: 99;
}

.resources-dropdown-heading-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 31px;
  margin-left: 14px;
}

.resources-dropdown-heading-wrapper h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #15293f;
  margin-left: 22px;
  margin-bottom: 0px;
}

.resources-dropdown-border-first {
  border-right: 1px solid rgba(170, 180, 190, 0.45);
}

.resources-dropdown-border {
  border-right: 1px solid rgba(170, 180, 190, 0.45);
  padding-left: 42px !important;
}

.resources-dropdown-border-last {
  padding-left: 42px !important;
}

.accordion-button:focus {
  border-color: #1e3951 !important;
  box-shadow: none !important;
}

.resources-dropdown-links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.324004px;
  color: #15293f;
  padding: 7px 7px 7px 14px;
  border-radius: 5px;
  margin-bottom: 7px;
}

.resources-dropdown-links:hover {
  background: #e8f4fe;
}

.about-dropdown-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
}

.about-dropdown {
  display: block;
  position: absolute;
  margin-top: 6px;
  z-index: 99;
}

.about-dropdown .row {
  justify-content: flex-end;
}

.about-dropdown-small-box {
  background-color: #fff;
  box-shadow: 0px 48px 34px rgba(97, 114, 141, 0.25);
  max-width: 220px !important;
  padding: 0px !important;
  border-radius: 5px;
  margin-right: 170px;
}

.about-dropdown-small-box p {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.324004px;
  color: #15293f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-left: 20px;
}

.about-dropdown-small-box p:hover {
  background: #e8f4fe;
}

.about-dropdown-small-box-l-child {
  border-radius: 0px 0px 5px 5px;
}

.the-power-of-open-water {
  background-image: url("../images/The-Power-of-Openwater-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
}

.the-power-of-open-water-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 113px;
  padding-bottom: 192px;
}

.the-power-of-open-water-container h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 51px;
  color: #15293f;
}

.the-power-of-open-water-container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 51px;
  color: #15293f;
}

.the-power-of-open-water-container h2 span {
  color: #3196f5;
}

.the-power-of-open-water-container-p {
  width: 528.05px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #15293f;
  text-align: center;
  margin-top: 20px;
}

.the-power-of-open-water-box {
  background: rgba(255, 255, 255, 0.95);
  border: 11px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0px 34px 8px rgba(33, 56, 138, 0.07);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px;
}

.the-open-water-border-box {
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 15px;
}
.the-open-water-platform-heading-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.the-power-of-open-water-box h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 39.3351px;
  line-height: 41px;
  color: #15293f;
}

.the-power-of-open-water-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 17.2903px;
  line-height: 24px;
  color: #15293f;
  margin-top: 20px;
  margin-bottom: 0px;
}

.grow-your-programs .modal-dialog {
  min-width: 750px;
}

.grow-your-programs .modal-content {
  height: 445px;
  border-radius: 15px;
}

.grow-your-programs iframe {
  border-radius: 10px;
}

.power-box-heading-wrapper {
  margin-left: 18px;
}

.integrations .testimonials-heading {
  margin-bottom: 20px;
}

.integrations .at-glance-para {
  width: 684.44px;
}

.power-of-open-water-box-wrapper {
  width: 898px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.industry-leaders {
  padding-bottom: 100px;
}

.industry-leaders h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  color: #3196f5;
  text-align: center;
}

/* industry slider css start */
.swiper-wrapper {
  transition-timing-function: linear !important;
}
/* industry slider css end */
.home-page-cta {
  margin-bottom: 100px;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-background {
  background-image: url("../images/home-new-cta-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 29.3947px 16.0335px rgba(82, 83, 109, 0.08);
  border-radius: 14px;
  background-size: cover;
  width: 1100px;
}

.cta-headding {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(30, 39, 118, 0.15);
  /* position: absolute; */
  /* top: 0; */
  padding: 40px;
  /* width: 1000px; */
}

.at-glance {
  margin-bottom: 71px;
}

.at-glance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.at-glance-box-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #15293f;
  width: 141px;
  padding-top: 18px;
}

.at-glance-box-para {
  width: 273.86px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #15293f;
}

.at-glance-row {
  padding-top: 75px;
  padding-bottom: 85px;
}

.at-glance-title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
}

.at-glance-title span {
  color: #3196f5;
}

.at-glance-para {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #15293f;
  width: 464.32px;
}

.at-glance-btn {
  background: #ff6332;
  border-radius: 100px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  width: 159px;
  height: 50px;
  margin-top: 50px;
}

.testimonials {
  background: #f6f8fc;
  padding-top: 128px;
  padding-bottom: 128px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-short-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  color: #3196f5;
}

.testimonials-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48.7195px;
  line-height: 51px;
  color: #2d3436;
}

.testimonials-reviews {
  margin-top: 20px;
}

/* testimonial slider start */

.testimonial-slider {
  height: 680px;
  margin-top: 60px;
  padding-bottom: 40px !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.testimonial-slider-card {
  background: #ffffff;
  box-shadow: 0px 29.3947px 16.0335px rgba(82, 83, 109, 0.08);
  border-radius: 11px;
  padding: 35px;
}

.testimonial-image-wrapper {
  display: flex;
}

.testimonial-company-logo {
  margin-left: 30px;
}

.testimonial-para {
  height: 300px;
}

.testimonial-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #15293f;
}

.testimonial-designation {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #3196f5;
}

/* testimonial slider end */

.tons-of-integrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f8fc;
}

.tons-of-integrations .at-glance-btn {
  margin-top: 32px;
}

.faq-section {
  background: #0d2943;
  padding-top: 115px;
  padding-bottom: 163px;
}

.faq-header {
  color: #fff;
  margin-bottom: 32px;
}

.accordion-button {
  background-color: #0d2943 !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  border-bottom: 3px solid #1e3951 !important;
}

.accordion-body {
  background-color: #0d2943 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 3px #1e3951 solid !important;
  padding: 20px 40px !important;
}

.accordion-item {
  border: none !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top: 3px #1e3951 solid !important;
  border-bottom: 3px #1e3951 solid !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  font-size: 18px;
}

.accordion-header {
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
}

.accordion-button::after {
  background-image: url("../images/plus.svg") !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(135deg) !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px !important ;
  border-bottom-left-radius: 0px !important ;
}

.faq-container {
  max-width: 800px !important;
}

/* tons-of-integrations slider start */

.tons-of-integrations-slider {
  height: 220px;
  padding-top: 0px !important;
  padding-bottom: 40px !important;
}
.tons-of-integrations-logo-box {
  background: #ffffff;
  box-shadow: 0px 19px 16.0335px rgba(82, 83, 109, 0.05);
  border-radius: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.tons-of-integrations-slider-right {
  height: 220px;
  padding-top: 0px !important;
  padding-bottom: 40px !important;
}

/* tons-of-integrations slider end */

.integrations {
  background: #f6f8fc;
  padding-bottom: 80px;
}

.integrations-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 57px;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
  position: relative;
  background-color: #f6f7fc;
}

#lightHouse {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}

.wave-container {
  height: 26.9px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(9, 157, 253, 0.1085) 0%,
    rgba(9, 157, 253, 0.35) 100%
  );
  backdrop-filter: blur(1px);
  z-index: 8;
  position: relative;
  top: 88px;
}

.footer-cta-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 6;
}

.mobile-software-col {
  display: none;
}

.footer-cta .at-glance-btn {
  width: 210px;
  height: 50px;
  margin-top: 21px;
}

.footer-cta .at-glance-para {
  width: 675.37px;
  margin-top: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: #0d2943;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.copyright span {
  color: #66bbff;
}

.content-section {
  background-image: url("../images/new-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}

img.better-together-img {
  margin-bottom: -90px;
}

.footer-headings {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #0d2943;
}
.social-icons {
  margin-top: 16px;
  margin-right: 25px;
}

.footer-3col-row {
  margin-top: 43px !important;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2d3436;
  text-decoration: none;
}

.footer-contact-us {
  margin-bottom: 34px;
}

.footer-address {
  width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.footer-location {
  margin-top: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.footer-email {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #007496;
}

.inc-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 110px;
}
.inc-para-wrapper {
  margin-left: 22px;
}

.inc-para-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 8.36227px;
  line-height: 11px;
  letter-spacing: 0.380103px;
  color: #2d3436;
}

.read-the-press {
  font-style: normal;
  font-weight: 400;
  font-size: 9.12248px;
  line-height: 11px;
  letter-spacing: 0.380103px;
  text-transform: uppercase;
  color: #000000;
}

.at-glance-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  margin-top: 60px;
}

.mobile-nav {
  display: none;
}

.main-drop-down {
  display: none;
}

.about-dropdown-small-box-f-child {
  border-radius: 5px 5px 0px 0px;
}

/* home page responsive -------------------------------------------- */
@media (max-width: 1820px) {
  .testimonial-image-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .testimonial-company-logo {
    margin-left: 0px;
  }

  .testimonial-slider {
    height: 750px;
  }
}

@media (max-width: 1024px) {
  .integration-padding {
    padding-top: 20px;
  }

  .the-open-water-platform-row-wrapper {
    width: auto;
  }

  .hero-section {
    height: 50vh;
  }

  .testimonial-slider {
    height: 750px;
  }

  .testimonial-para {
    height: 300px;
  }

  .nav-bar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    box-shadow: 0px 4px 4px rgba(23, 21, 45, 0.06);
    height: 60px;
    align-items: center;
  }

  .toggle-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mobile-main-menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .mobile-main-menu-links p {
    margin-bottom: 0px;
  }

  .mobile-main-menu-links img {
    position: absolute;
    left: 12%;
  }

  .mobile-main-menu-links-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.25px solid #a5adba;
    padding-right: 5%;
    padding-left: 5%;
  }

  .mobile-main-menu-links-wrapper:first-child {
    border-top: 0.25px solid #a5adba;
  }

  .mobile-main-menu-links-wrapper:last-child {
    padding-bottom: 15px;
  }

  .main-drop-down {
    background: rgba(255, 255, 255, 0.83);
    filter: drop-shadow(0px 23px 16px rgba(79, 79, 104, 0.25));
    backdrop-filter: blur(20px);
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  .mobile-nav-logo-wrapper h5 {
    margin-bottom: 0px;
  }

  #mobile-platform-expan {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.83);
    filter: drop-shadow(0px 23px 16px rgba(79, 79, 104, 0.25));
    backdrop-filter: blur(20px);
    z-index: 99;
  }

  .mobile-platform-dropdown-row {
    padding-top: 20px;
  }

  .mobile-platform-image-wrapper {
    padding: 40px 0px;
  }

  .mobile-platform-image {
    background: #e8f4fe;
    border-radius: 11px;
  }

  #mobile-platform h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #15293f;
    padding-left: 20px;
  }

  #mobile-resource-expan {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.83);
    filter: drop-shadow(0px 23px 16px rgba(79, 79, 104, 0.25));
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 40px 0px;
  }

  #mobile-resource h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #15293f;
    padding-left: 20px;
  }

  #mobile-about-expan {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.83);
    filter: drop-shadow(0px 23px 16px rgba(79, 79, 104, 0.25));
    backdrop-filter: blur(20px);
    z-index: 99;
  }

  #mobile-about-expan p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.324004px;
    color: #15293f;
    margin: 0px;
  }

  #mobile-about h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #15293f;
    padding-left: 20px;
  }
}

@media (max-width: 820px) {
  .the-open-water-platform-row-wrapper {
    width: auto;
  }

  .power-of-open-water-box-wrapper {
    width: auto;
  }

  .faq-container {
    max-width: 720px !important;
  }

  .at-glance-boxes {
    grid-template-columns: 1fr 1fr;
  }

  .hero-section {
    height: 60vh;
  }

  .testimonial-slider {
    height: 750px;
  }

  img.better-together-img {
    width: 75%;
  }

  .cta-background {
    background-position: 70% 0%;
  }

  .inc-wrapper {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .contact-number {
    margin-bottom: 40px;
  }

  .mobile-main-menu-links img {
    left: 15%;
  }

  .the-power-of-open-water-box h4 {
    font-size: 37px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    background-image: url("../images/ow-home-mobile-hero-image.svg");
    height: 90vh;
  }

  .h1-headding {
    width: auto;
    font-size: 48px;
  }

  .hero-company-logo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .h2-headding {
    width: auto;
    font-size: 36px;
  }

  .h2-headding span {
    font-size: 38x;
  }

  .grow-your-programs p {
    width: auto;
  }

  #grow-your-programs-lottie {
    width: auto;
    margin-left: 0px;
  }

  .h2-headding-the-open-water-platform {
    width: auto;
  }

  .the-power-of-open-water-container h2 {
    font-size: 48px;
    text-align: center;
  }

  .the-power-of-open-water-container-p {
    width: auto;
  }

  .at-glance-para {
    width: auto;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }

  .at-glance-boxes {
    grid-template-columns: 1fr;
    width: 90%;
    grid-row-gap: 40px;
  }

  .cta-headding {
    font-size: 30px;
  }

  .testimonials-heading {
    text-align: center;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }

  .testimonial-para {
    height: 400px;
  }

  .testimonial-slider {
    height: 875px;
    margin-left: var(--bs-gutter-x, 0.75rem) !important;
    margin-right: var(--bs-gutter-x, 0.75rem) !important;
  }

  .footer-cta .at-glance-para {
    width: auto;
  }

  .inc-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .inc-para-wrapper {
    margin-left: 0px;
    margin-top: 20px;
  }

  .footer-contact-us {
    margin-top: 56px;
  }

  img.better-together-img {
    margin-bottom: -55px;
    width: 90%;
  }

  .the-power-of-open-water-box h4 {
    font-size: 35px;
  }

  .desktop-software-col {
    display: none;
  }

  .mobile-software-col {
    display: block;
    width: 50% !important;
  }

  .footer-about-us {
    margin-top: 56px;
  }

  .inc-row {
    flex-direction: column;
  }

  .inc-wrapper-last {
    margin-top: 20px;
  }

  .inc-wrapper p {
    width: 175px;
  }

  .content-section {
    background-position-y: 400px;
  }

  .menu-dropdown-image {
    width: 75%;
  }

  .integration-padding {
    border-top: 1px solid rgba(170, 180, 190, 0.45);
    padding-top: 40px;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }

  .platform-border {
    border-right: none;
    padding-bottom: 40px;
  }

  .mobile-main-menu-links img {
    left: 35%;
  }

  .resources-dropdown-border {
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
    padding: 40px 0px;
    border-top: 1px solid rgba(170, 180, 190, 0.45);
    border-bottom: 1px solid rgba(170, 180, 190, 0.45);
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }

  .resources-dropdown-border-last {
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }

  .power-of-open-water-box-wrapper {
    grid-template-columns: 1fr;
  }

  .integrations .at-glance-para {
    width: auto;
  }
}

/* home page css end --------------------------------------------------- */

/* awards-software css start ----------------------------- */

.as-grow-your-programs {
  background: #041d34;
  padding-bottom: 300px;
}

.as-grow-your-programs-header {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.as-grow-your-programs-header h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  text-align: center;
  color: #3196f5;
}

.as-grow-your-programs-header h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48.7195px;
  line-height: 51px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  width: 590.64px;
}

.as-grow-your-programs-header p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  width: 558px;
  margin-top: 30px;
}

.as-grow-your-programs-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 70px;
}

.as-grow-your-programs-btn button {
  font-style: normal;
  font-weight: 400;
  font-size: 17.7489px;
  line-height: 18px;
  color: #ffffff;
  padding: 11px 14px;
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 44.3723px;
}

.as-grow-your-programs-btn button:hover {
  background: linear-gradient(180deg, #00beff 0%, #0579ba 100%);
  border: none;
  filter: drop-shadow(0px 0px 25px rgba(14, 178, 248, 0.47));
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.as-grow-your-programs-btn button:focus {
  background: linear-gradient(180deg, #00beff 0%, #0579ba 100%);
  border: none;
  filter: drop-shadow(0px 0px 25px rgba(14, 178, 248, 0.47));
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.as-grow-your-programs-btn-2 {
  margin-top: 23px;
}

.as-grow-your-programs-btn-3 {
  margin-top: 23px;
  margin-bottom: 74px;
}

.as-grow-your-programs-swiper .swiper {
  width: 100%;
  height: 100%;
}

.as-grow-your-programs-swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.as-grow-your-programs-swiper .swiper-wrapper .swiper-slide h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 31px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.as-grow-your-programs-swiper .swiper-wrapper .swiper-slide p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #ffffff;
  width: 483px;
  margin-top: 31px;
  margin-bottom: 40px;
}

.as-grow-your-programs-slider-btn {
  position: relative;
  top: -25px;
}

.as-grow-your-programs-slider-btn .swiper-button-prev {
  background-image: url("../images/slider_navigation_left.svg");
  background-repeat: no-repeat;
}

.as-grow-your-programs-slider-btn .swiper-button-next {
  background-image: url("../images/slider_navigation-right.svg");
  background-repeat: no-repeat;
}

.as-grow-your-programs-slider-btn .swiper-button-next,
.swiper-button-prev {
  width: 52px !important;
  height: 52px !important;
  top: 0%;
}

.as-grow-your-programs-slider-btn .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none;
}

.as-grow-your-programs-slider-btn .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.as-grow-your-programs-slider-btn .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 90%;
  right: auto;
}

.as-grow-your-programs-swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 846.73px;
  height: 557px;
}

.as-grow-your-programs-slider-background-1 {
  position: absolute;
  width: 246px;
  height: 232px;
  left: 80%;
  background: rgba(0, 209, 255, 0.1);
  filter: blur(50.5px);
}

.as-grow-your-programs-slider-background-2 {
  position: absolute;
  width: 246px;
  height: 232px;
  top: 50%;
  left: 10%;
  background: rgba(0, 209, 255, 0.1);
  filter: blur(50.5px);
}

.awards-software-faq {
  background-color: #fff;
}

.awards-software-accordion-body {
  background-color: #fff !important;
  color: #15293f;
  border-bottom: 3px solid rgba(52, 70, 91, 0.08) !important;
}

.awards-software-accordion-button {
  background-color: #fff !important;
  color: #15293f !important;
  border-bottom: 3px solid rgba(52, 70, 91, 0.08) !important;
}

.accordion-item:first-of-type .awards-software-accordion-button {
  border-top: 3px solid rgba(52, 70, 91, 0.08) !important;
  border-bottom: 3px solid rgba(52, 70, 91, 0.08) !important;
}

.awards-software-accordion-button::after {
  background-image: url("../images/aws-ac-plus.svg") !important;
}

.awards-software-accordion-button:focus {
  border-color: rgba(52, 70, 91, 0.08) !important;
}

.aw-hero {
  background-image: url("../images/Awards-Management-Software-new-backlground.svg");
  background-repeat: no-repeat;
  height: 665px;
  background-size: cover;
}

.aw-hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aw-hero-wrapper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-top: 93px;
}

.aw-hero-wrapper p {
  width: 567.64px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}

.aw-hero-wrapper button {
  background: #3196f5;
  border: 12px solid rgba(111, 142, 255, 0.17);
  border-radius: 35px;
  width: 246.19px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 43px;
}

.aw-hero-wrapper button img {
  padding-right: 12px;
}

.aw-video {
  margin-bottom: -20px;
  background-image: url("../images/as-vidoe-subtract.svg");
  background-repeat: no-repeat;
  margin-top: -130px;
  background-size: contain;
}

.aw-video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  position: relative;
  top: -100px;
}

.aw-video-wrapper iframe {
  width: 940px;
  height: 545px;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0px 22px 12px rgba(13, 20, 84, 0.05);
  backdrop-filter: blur(18px);
  border-radius: 10.3973px;
  padding: 10px;
}

.aw-industry-leaders {
  margin-bottom: 70px;
}

.aw-industry-leaders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aw-industry-leaders-wrapper h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  color: #3196f5;
}

.aw-awards {
  filter: drop-shadow(-17px 26px 4px rgba(27, 43, 87, 0.05));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  width: 650px;
  margin-top: 32px;
  margin-bottom: 95px;
}

.aw-industry-leaders-wrapper p {
  width: 748.38px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #15293f;
  margin-bottom: 72px;
}

.aw-clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 100px;
}

.aw-industry-leaders-wrapper button {
  background: #ff6332;
  border-radius: 24px;
  padding: 13.5862px 22.6613px 13.5862px 22.6436px;
  border: none;
  font-weight: 700;
  font-size: 19.2471px;
  line-height: 23px;
  color: #ffffff;
}

.aw-traditional-awards {
  background: #a8dff8;
  border-radius: 28px;
  margin-bottom: -165px;
  position: relative;
  top: -180px;
}

.additional-soft-heading-wrapper {
  display: flex;
  align-items: center;
}

.additional-soft-heading-wrapper h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  width: 441px;
}

.additional-soft-heading-wrapper-margin {
  justify-content: flex-end;
}

.as-traditional-wrapper {
  padding-top: 113px;
  padding-bottom: 30px;
}

.as-traditional-awards-card-wrapper {
  display: flex;
  position: relative;
  filter: drop-shadow(0px 16px 10px rgba(28, 22, 95, 0.06));
  margin-bottom: 44px;
}

.as-traditional-awards-card-col-left {
  width: 50%;
  height: 276px;
  background: #0d2943;
  border-radius: 19px;
  z-index: 5;
  padding: 48px 58px;
}

.as-traditional-awards-card-col-left h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.as-traditional-awards-card-col-left p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: 23px;
}

.as-traditional-awards-card-col-right {
  width: 55%;
  height: 276px;
  background: #ffffff;
  border-radius: 19px;
  z-index: 4;
  margin-left: -64px;
  padding-left: 130px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 58px;
}

.as-traditional-awards-card-col-right h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.25px;
  color: #0d2943;
}

.as-traditional-awards-card-col-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.3px;
  color: #0d2943;
  margin-top: 23px;
}

.additional-soft-heading-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aw-faq-header {
  color: #3196f5;
}

.additional-soft-heading-logo-wrapper-mobile {
  display: none;
}

.additional-soft-heading-wrapper-mobile {
  display: none;
}

.as-traditional-awards-card-col-right-mobile {
  display: none;
}

.aw-testimonials {
  padding-top: 100px;
}

/* awards-software responsive  -------------------- */

@media (max-width: 1400px) {
  .as-grow-your-programs-slider-btn .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 88%;
  }

  .as-grow-your-programs-slider-background-1 {
    left: 65%;
  }
}

@media (max-width: 1200px) {
  .as-grow-your-programs-slider-btn .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 86%;
  }

  .as-grow-your-programs-slider-btn {
    top: 155px;
  }

  .as-traditional-awards-card-col-left {
    height: auto;
  }

  .as-traditional-awards-card-col-right {
    height: auto;
  }

  .aw-video {
    margin-top: -80px;
  }

  .aw-video-wrapper {
    top: -130px;
  }
}

@media (max-width: 991px) {
  .as-grow-your-programs-slider-btn .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 80%;
  }

  .as-grow-your-programs-swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .as-grow-your-programs-slider-btn .swiper-button-next,
  .swiper-button-prev {
    top: 5%;
  }

  .as-grow-your-programs-btn button {
    font-size: 14.7489px;
  }

  .as-grow-your-programs-slider-btn {
    top: 875px;
  }

  .aw-video-wrapper iframe {
    width: 640px;
    height: 370px;
  }

  .aw-video {
    margin-top: -60px;
  }

  .aw-hero-wrapper h1 {
    text-align: center;
  }

  .aw-clients {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .additional-soft-heading-wrapper h4 {
    font-size: 26px;
    width: auto;
    line-height: 35px;
  }

  .as-traditional-awards-card-col-left {
    padding: 30px 35px;
  }

  .as-traditional-awards-card-col-right {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 105px;
  }

  .aw-traditional-awards {
    top: -135px;
  }
}

@media (max-width: 600px) {
  .as-grow-your-programs-header h2 {
    width: auto;
  }

  .as-grow-your-programs-header p {
    width: auto;
  }

  .as-grow-your-programs-btn {
    display: none;
  }

  .as-grow-your-programs-slider-btn .swiper-button-next,
  .swiper-button-prev {
    top: 92%;
  }

  .as-grow-your-programs-swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 0%;
    padding-bottom: 80px;
  }

  .as-grow-your-programs-swiper .swiper-wrapper .swiper-slide p {
    width: auto;
  }

  .as-grow-your-programs-slider-btn .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 62%;
  }

  .as-grow-your-programs-header {
    padding-bottom: 40px;
  }

  .as-grow-your-programs-swiper .swiper-wrapper .swiper-slide h4 {
    font-size: 23px;
  }

  .as-grow-your-programs-slider-btn {
    top: 470px;
  }

  .as-grow-your-programs-slider-background-1 {
    left: 25%;
  }

  .as-grow-your-programs-slider-background-2 {
    top: 36%;
    left: 10%;
  }

  .aw-hero-wrapper p {
    width: auto;
  }

  .aw-video-wrapper iframe {
    width: 100%;
    height: 227px;
  }

  .aw-video {
    margin-top: 0px;
  }

  .aw-industry-leaders-wrapper h6 {
    text-align: center;
    line-height: normal;
  }

  .aw-awards {
    grid-template-columns: 1fr;
    width: auto;
  }

  .aw-industry-leaders-wrapper p {
    width: auto;
  }

  .aw-clients {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }

  .additional-soft-heading-wrapper {
    display: none;
  }

  .additional-soft-heading-logo-wrapper {
    display: none;
  }

  .additional-soft-heading-logo-wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-soft-heading-wrapper-mobile {
    display: block;
    margin-top: 60px;
  }

  .additional-soft-heading-wrapper-mobile h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #0d2943;
  }

  .as-traditional-awards-card-wrapper {
    flex-direction: column;
  }

  .as-traditional-awards-card-col-left {
    width: 100%;
    margin: auto;
  }

  .as-traditional-awards-card-col-right {
    display: none;
  }

  .as-traditional-awards-card-col-right-mobile {
    display: block;
  }

  .as-traditional-awards-card-col-right {
    padding-left: 35px;
    width: 100%;
    margin: auto;
  }

  .as-traditional-wrapper {
    padding-top: 85px;
  }

  .aw-traditional-awards {
    top: -180px;
    padding-bottom: 100px;
  }
}

/* awards-software css end */

/* Integrations Details css start ------------------------------- */

.id-heading {
  margin-top: 40px;
}

.id-bc {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #005092;
  gap: 8px;
}

.id-h1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 108px;
}

.id-h1-wrapper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #15293f;
}

.id-h1-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #42526e;
}

.id-ow-overview {
  margin-top: 87px;
}

.id-ow-overview h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 35px;
  color: #34465b;
}

.id-ow-overview p {
  margin-top: 20px;
}

.id-ow-imis-overview p {
  margin-top: 0px;
}

.id-ow-imis-overview {
  margin-top: 40px;
}

.id-ow-imis-overview img {
  margin: 43px 0px;
}

.id-right-bar {
  margin-left: 25px;
}

.id-right-bar h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #15293f;
}

.id-right-bar ul {
  margin: 40px 0px;
  padding: 0;
  list-style: none;
}

.id-right-bar li {
  margin-bottom: 18px;
}

.id-right-bar li img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.id-right-bar ul li a {
  color: #0091ae;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.id-right-bar .clients_logos ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.id-right-bar .clients_logos ul li:nth-child(1) {
  max-width: 45%;
  align-self: end;
}

.id-right-bar .clients_logos ul li:nth-child(2) {
  max-width: 45%;
  align-self: end;
}

.id-right-bar .clients_logos ul li img {
  width: 80%;
  height: 80%;
  margin: 0 auto 15px;
}

.id-integration-features {
  background: #041d34;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 127px;
}

.id-integration-features h2 {
  font-weight: 700;
  font-size: 48.7195px;
  line-height: 51px;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
}

.id-integration-features h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 51px;
  text-align: center;
  color: #3196f5;
}

.id-integration-features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
}

.id-integration-features-content-wrapper {
  height: 381px;
  width: 870px;
  background: rgba(17, 45, 68, 0.49);
  backdrop-filter: blur(28.0746px);
  border-radius: 11px;
  margin-bottom: 37.5px;
  display: flex;
  align-items: center;
  padding: 33px 33px 30px 56px;
}

.id-integration-features-content-wrapper h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  width: 246.19px;
  color: #fdfdfe;
}

.id-integration-features-content-wrapper hr {
  width: 102.33px;
  color: #3196f5;
  height: 2.3px !important;
  opacity: 1;
}

.id-integration-features-content-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #fdfdfe;
  width: 266px;
}

.id-integration-features-content-img-wrapper {
  display: flex;
  justify-content: flex-end;
}

.id-integration-features-content-img-wrapper img {
  width: 467px;
  height: 315px;
}

.id-faq-section {
  background-color: #fff;
  padding: 120px 0px;
}

.id-faq-section .faq-header {
  color: #34465b;
}

.id-faq-section .accordion-button {
  color: #0d2943 !important;
  background-color: #fff !important;
  border-bottom: 3px solid rgba(52, 70, 91, 0.08) !important;
}

.id-faq-section .accordion-body {
  background-color: #fff !important;
  color: #0d2943 !important;
  border-bottom: 3px rgba(52, 70, 91, 0.08) solid !important;
}

.id-faq-section .accordion-item:first-of-type .accordion-button {
  border-top: 3px rgba(52, 70, 91, 0.08) solid !important;
  border-bottom: 3px rgba(52, 70, 91, 0.08) solid !important;
}

.id-footer-cta {
  background: #041d34;
}

.id-footer-cta .testimonials-heading {
  color: #ffffff;
}

.id-footer-cta .at-glance-para {
  color: #ffffff;
}

.id-faq-section .accordion-button::after {
  background-image: url("../images/imis-faq-btn.svg") !important;
}

/* Integrations Details responsive ------------------------------- */
@media (max-width: 1200px) {
  .id-h1-wrapper {
    margin-bottom: 55px;
  }
}

@media (max-width: 900px) {
  .id-integration-features-content-wrapper {
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 40px;
  }

  .id-integration-features-content-wrapper .col-md-5 {
    width: 100%;
  }

  .id-integration-features-content-wrapper .col-md-7 {
    width: 100%;
  }

  .video-and-resource-section .col-md-9 {
    width: 100%;
  }

  .video-and-resource-section .col-md-3 {
    width: 100%;
  }

  .id-right-bar {
    margin-top: 40px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .id-integration-features-content-wrapper p {
    width: auto;
  }

  .id-integration-features-content-img-wrapper {
    justify-content: center;
    margin-top: 25px;
  }

  .id-integration-features-content-img-wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .id-right-bar {
    grid-template-columns: 1fr;
  }

  .id-ow-imis-overview img {
    width: 100%;
  }

  .id-right-bar .clients_logos ul li img {
    width: 70%;
  }

  .id-integration-features-wrapper {
    margin-top: 35px;
  }

  .id-integration-features-content-wrapper {
    padding: 20px;
  }

  .id-integration-features {
    padding-bottom: 100px;
  }
  .id-ow-overview-mobile {
    margin-top: 110px;
  }
}

/* Integrations Details CSS end ------------------------------- */

/* Product Demos & Resources CSS start -------------------------- */

.product-demos-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 296px;
  background-image: url("../images/Product\ Demos\ &\ Resources\ Background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.product-demos-header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #ffffff;
}

.product-demos-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.pd-videos-and-resources {
  margin-top: 85px;
  margin-bottom: 160px;
}

.pd-videos-and-resources h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 27.1166px;
  line-height: 34px;
  color: #2d3436;
  padding-left: 10px;
}

/* Product Demos & Resources CSS end -------------------------- */

/* The OpenWater Blog CSS start --------------------------------- */

.blog-content-section {
  margin-top: 92px;
  margin-bottom: 106px;
}

.blog-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog-card-content-wrapper {
  padding: 16px;
  box-shadow: 0px 12px 7.78633px rgba(22, 22, 22, 0.08);
  border-radius: 8px;
}

.blog-card-content-wrapper img {
  width: 100%;
  border-radius: 3px;
}

.blog-card-content-wrapper h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #15293f;
  margin-top: 22px;
  margin-bottom: 15px;
}

.blog-card-content-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #15293f;
  margin: 0px;
}

.blog-card-read-more-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.blog-card-read-more-btn {
  display: flex;
  align-items: center;
}

.blog-card-read-more-btn-wrapper img {
  width: 12px;
  margin-left: 7px;
}

.pagination {
  margin-top: 150px;
  justify-content: flex-end;
}

.pagination-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #3196f5;
  border-radius: 4px;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.pagination-content-pre:hover {
  color: #3196f5;
  cursor: pointer;
}

.pagination-content:hover {
  background: #cef2f2;
  border: 1px solid rgba(49, 150, 245, 0.28);
  cursor: pointer;
}

.pagination-content-pre {
  color: #99afc4;
}

.pagination-content-dots {
  color: #2e475d;
}

.pagination-content-dots:hover {
  background: unset;
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.blog-content-section h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #2d3436;
}

.search-box {
  position: relative;
}

.blog-content-section input {
  background: #ffffff;
  border: 1px solid #ebecf0;
  box-shadow: 0px 4px 4px rgba(88, 88, 128, 0.07);
  border-radius: 6px;
  padding: 15px 22px;
  color: #959bab;
  width: 85%;
}

.blog-content-section input::placeholder {
  color: #959bab;
}

.blog-content-section input:focus {
  outline: none;
}

.search-box img {
  position: absolute;
  top: 35%;
  right: 20%;
  cursor: pointer;
}

.blog-content-section .explore-posts {
  margin-top: 40px;
}

.blog-card-wrapper a {
  text-decoration: none;
}

.blog-content-section .dropdown button {
  width: 85%;
  text-align: left;
  background: #ffffff;
  border: 1px solid #ebecf0;
  box-shadow: 0px 4px 4px rgba(88, 88, 128, 0.07);
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 22px;
  color: #959bab;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-content-section .dropdown-toggle::after {
  content: none;
}

.blog-content-section .dropdown-menu {
  width: 85%;
  background: rgba(255, 255, 255, 0.66);
  box-shadow: 0px 15px 16px rgba(89, 90, 118, 0.09);
  backdrop-filter: blur(18px);
  border-radius: 5px;
  border: none;
  margin-top: 6px;
}

.blog-content-section .dropdown a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  font-feature-settings: "liga" off;
  color: #2d3436;
}

.blog-content-section .dropdown a:hover {
  color: #3196f5;
  background-color: #fff;
}

/* The OpenWater Blog responsive */
@media (max-width: 1200px) {
  .blog-content-section input {
    width: 95%;
  }

  .search-box img {
    right: 11%;
  }

  .blog-content-section .dropdown button {
    width: 95%;
  }

  .blog-content-section .dropdown-menu {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .blog-content-section .col-md-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-content-section .explore-posts {
    margin-top: 0px;
  }

  .blog-content-section input {
    width: 100%;
  }

  .blog-content-section .dropdown button {
    width: 100%;
  }

  .blog-content-section .dropdown-menu {
    width: 100%;
  }

  .search-box img {
    right: 7%;
  }

  .blog-content-section .col-md-9 {
    width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .blog-card-wrapper {
    grid-template-columns: 1fr;
  }

  .blog-content-section .col-md-3 {
    flex-direction: column;
  }

  .blog-content-section .explore-posts {
    margin-top: 40px;
  }

  .search-box img {
    right: 6%;
  }

  .pagination {
    justify-content: center;
  }

  /* id footer mobile fix */
  .footer-cta {
    height: auto;
    padding: 80px 0px;
  }

  /* pd mobile header padding add */
  .product-demos-header {
    padding: 20px;
  }
}

/* The OpenWater Blog CSS end --------------------------------- */

/* Award Management Guides CSS start -------------------------- */

.award-management-guides-section {
  margin-top: 40px;
}

.result-counter {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #213343;
}

.result-counter span {
  color: #3196f5;
}

.award-management-guides-section .blog-card-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

.award-management-guides-section .blog-card-content-wrapper {
  padding: 0px;
}

.awg-card-content {
  padding: 16px 20px 20px 20px;
}

.awg-card-content h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 14.1922px;
  line-height: 21px;
  color: #2684ff;
}

.blog-card-content-wrapper .awg-card-content h5 {
  margin-top: 0px;
}

.award-management-guides-section .blog-card-content-wrapper img {
  border-radius: 8px 8px 0px 0px;
}

.amg-link-list ul {
  list-style-type: none;
  padding: 0px;
}

.amg-link-list li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 15px;
}

.amg-link-list a {
  color: #005092;
  text-decoration: none;
}

.amg-link-list li:nth-child(1) {
  margin-top: 20px;
}

.amg-new-card {
  background: #ffffff;
  box-shadow: 0px 12px 7.78633px rgba(22, 22, 22, 0.08);
  border-radius: 8px;
  /* height: 295px; */
  margin-top: 25px;
  margin-bottom: 35px;
}

.amg-new-card-background-image {
  background-image: url("/images/Group 427321723.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  border-radius: 8px 0px 0px 8px;
}

.amg-new-card-background-image p {
  font-style: normal;
  font-weight: 700;
  font-size: 14.1922px;
  line-height: 21px;
  color: #3196f5;
  text-align: right;
  padding: 10px;
  margin: 0px;
}

.amg-new-card .col-md-7 {
  padding: 30px;
}

.amg-new-card .col-md-7 h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #15293f;
  margin-bottom: 25px;
}

.amg-new-card .col-md-7 p {
  font-style: normal;
  font-weight: 500;
  font-size: 13.8867px;
  line-height: 20px;
  color: #15293f;
}

.writer-details img {
  width: 42px;
  height: 42px;
}

.writer-details {
  display: flex;
}

.wd-details {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.wd-details .author-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 17px;
  color: #2d3436 !important;
  margin: 0px;
}

.wd-details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-details-wrapper p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 20px;
  color: #8d8d8d !important;
  margin: 0px;
}

.wp-details-dot {
  width: 3px;
  height: 3px;
  background-color: #8d8d8d;
  border-radius: 100px;
}

/* Award Management Guides responsive */

@media (max-width: 900px) {
  .award-management-guides-section .blog-card-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .amg-link-list {
    display: none;
  }

  .award-management-guides-section .col-md-3 {
    display: block;
  }

  .award-management-guides-section .search-box img {
    right: 3%;
  }
}

@media (max-width: 500px) {
  .amg-new-card-background-image {
    height: 315px;
    border-radius: 8px 8px 0px 0px;
  }

  .award-management-guides-section .blog-card-wrapper {
    grid-template-columns: 1fr;
  }

  .award-management-guides-section .search-box img {
    right: 6%;
  }
}
/* Award Management Guides CSS end -------------------------- */

/* Blog Detail CSS start ------------------------------------- */
.blog-details-content-section {
  margin-top: 63px;
  margin-bottom: 183px;
}

.blog-detail-main-image img {
  width: 100%;
  height: 475px;
  margin-top: 17px;
  margin-bottom: 50px;
}

.blog-detail-author-card {
  background: #ffffff;
  box-shadow: 0px 12px 7.78633px rgba(22, 22, 22, 0.08);
  border-radius: 8px;
  /* height: 283.26px; */
  padding: 34px;
  margin-top: 50px;
}

.blog-details-main-content {
  width: 85%;
}

.blog-details-main-content h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  color: #2d3436;
  margin-bottom: 40px;
}

.blog-details-main-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.25px;
  color: #15293f;
}

.blog-details-main-content img {
  margin-bottom: 25px;
}

.card-author-details-wrapper {
  display: flex;
  margin-bottom: 35px;
}

.card-author-img img {
  width: 86px;
}

.card-author-details {
  margin-left: 27px;
}

.card-author-details h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #f27e44;
}

.blog-detail-author-card .card-author-details p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #15293f;
}

.blog-detail-author-card p {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #15293f;
}

.intro-author-details p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2d3436;
  margin: 0px;
}

.intro-author-details span{
  font-weight: 700;
  color: #3196f5;
}



.blog-detail-author-intro {
  display: flex;
  margin-top: 15px;
  margin-bottom: 90px;
}

.blog-detail-author-intro img {
  width: 65px;
}

.blog-detail-author-intro-details {
  margin-left: 18px;
}

.intro-author-details .blog-detail-author-intro-details h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #f27e44;
}

.intro-author-details .blog-detail-author-intro-details p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2d3436;
}

/* Blog Detail CSS end ------------------------------------- */
