<footer>
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5 class="footer-headings">follow us</h5>
                    <a href=""><img src="images/facebook.svg" alt="" class="social-icons" /></a>
                    <a href=""><img src="images/twitter.svg" alt="" class="social-icons" /></a>
                    <a href=""><img src="images/linkedin.svg" alt="" class="social-icons" /></a>
                    <a href=""><img src="images/instagram.svg" alt="" class="social-icons" /></a>

                    <div class="row footer-3col-row">
                        <div class="col desktop-software-col">
                            <h5 class="footer-headings">Software</h5>
                            <div class="footer-links">
                                <a href="awards-software.html">Awards</a>
                                <a href="fellowship-management-software.html">Fellowships</a>
                                <a href="scholarship-management-software.html">Scholarships</a>
                                <a href="grant-management-software.html">Grants</a>
                                <a href="http://">Applications</a>
                                <a href="abstract-management-software.html">Abstracts</a>
                            </div>
                        </div>

                        <div class="mobile-software-col">
                            <h5 class="footer-headings">Software</h5>
                            <div class="footer-links">
                                <a href="awards-software.html">Awards</a>
                                <a href="fellowship-management-software.html">Fellowships</a>
                                <a href="scholarship-management-software.html">Scholarships</a>
                                <a href="grant-management-software.html">Grants</a>
                                <a href="http://">Applications</a>
                                <a href="abstract-management-software.html">Abstracts</a>
                            </div>
                        </div>


                        <div class="col">
                            <h5 class="footer-headings">Support</h5>
                            <div class="footer-links">
                                <a href="http://">Help Center</a>
                                <a href="http://">API Documentation</a>
                                <a href="http://">GDPR + Privacy</a>
                            </div>
                        </div>
                        <div class="col">
                            <h5 class="footer-headings footer-about-us">About us</h5>
                            <div class="footer-links">
                                <a href="http://">The Team</a>
                                <a href="career-page.html">Careers</a>
                                <a href="http://">News</a>
                                <a href="http://">Security</a>
                                <a href="http://">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <h5 class="footer-headings footer-contact-us">Contact us</h5>
                    <img src="images/open-water-footer-logo.svg" alt="" />
                    <h6 class="footer-location">HQ</h6>
                    <p class="footer-address">
                        1800 Diagonal Road Suite 600 Alexandria, VA 22314
                    </p>
                    <p class="footer-email">info@getopenwater.com</p>
                    <p class="footer-email contact-number">202-765-0247</p>

                    <div class="row inc-row">
                        <div class="col">
                            <div class="inc-wrapper">
                                <img src="images/Capa_1.svg" alt="" />
                                <div class="inc-para-wrapper">
                                    <p>
                                        OpenWater has been named to the Inc5000 List of the
                                        Fastest Growing Private Companies in America for four
                                        years in a row since 2017.
                                    </p>
                                    <p class="read-the-press">READ THE PRESS RELEASE</p>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="inc-wrapper inc-wrapper-last">
                                <img src="images/Alliance-Partner_EVENTS-Partner_Seal_BLK.png.svg" alt="" />
                                <div class="inc-para-wrapper">
                                    <p>
                                        OpenWater is a proud ASAE Alliance Partner
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="copyright">
        <div>Copyright © 2023 <span>Openwater.</span> All Rights Reserved.</div>
    </section>
</footer>