<!-- navigation start -->
<header class="animate__animated">
    <nav class="nav-bar">
      <div class="container">
        <div class="row">
          <!-- logo -->
          <div class="col-2">
            <a href="/index.html" class="link-to">
              <img src="images/nav-logo.svg" class="img-fluid" alt="Open Water Logo" />
            </a>

          </div>
          <!-- menu items -->
          <div class="col-8 menu-bar">
            <div class="menu-btn"
              onmousemove="platform_dropdown_show(), resources_dropdown_hide(), about_dropdown_hide()">
              Platform
              <img class="menu-btn-icon" src="images/nav-dropdown-icon.svg" alt="nav-dropdown-icon" />
            </div>

            <div class="menu-btn"
              onmousemove="resources_dropdown_show(), platform_dropdown_hide(), about_dropdown_hide()">
              Resources
              <img class="menu-btn-icon" src="images/nav-dropdown-icon.svg" alt="nav-dropdown-icon" />
            </div>

            <div class="menu-btn"
              onmousemove="about_dropdown_show(), platform_dropdown_hide(), resources_dropdown_hide()">
              About Us
              <img class="menu-btn-icon" src="images/nav-dropdown-icon.svg" alt="nav-dropdown-icon" />
            </div>
          </div>
          <!-- nav btn -->
          <div class="col-2 menu-demo-btn">
            <a href="contact-us.html">
              <button class="demo-btn">Request a Demo</button>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- nav drop downs -->
    <div class="platform-dropdown-wrapper" id="platform-dropdown" onmouseleave="platform_dropdown_hide()">
      <div class="container platform-dropdown">
        <div class="row drop-down-items-center">
          <div class="col-3 platform-border">
            <h2 class="platform-menu-headding">Platform</h2>


            <a href="abstract-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321077.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Abstract Software</h4>
                  <p>Visual project management</p>
                </div>
              </div>

            </a>



            <a href="/awards-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427320988.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Awards Software</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>


            <a href="grant-management-software.html" class="link-to">

              <div class="menu-links">
                <img src="images/Frame 427321078.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Grants </h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>
            </a>


            <a href="scholarship-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321079.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Scholarships</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>


            <a href="fellowship-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321080.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Fellowships</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>




          </div>


          <div class="col-4 integration-padding">
            <h2 class="platform-menu-headding">Integrations</h2>

            <a href="integrations-details.html" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>iMis</h4>
                  <p>iMIS is the world's only Engagement Management System (EMS)</p>
                </div>
              </div>
            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Salesforce</h4>
                  <p>Unify marketing, sales, service, commerce, and IT on the world's #1 CRM.</p>
                </div>
              </div>
            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Airtable</h4>
                  <p>Airtable is the spreadsheet system that does wonders. </p>
                </div>
              </div>

            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Airtable</h4>
                  <p>Airtable is the spreadsheet system that does wonders. </p>
                </div>
              </div>

            </a>

            <a href="integrations-listing.html">
              <button class="menu-integration-btn">Browse All</button>
            </a>



          </div>
          <div class="col-5">
            <img src="images/Frame 427321101.svg" alt="" class="menu-dropdown-image">
          </div>
        </div>


      </div>
    </div>

    <div class="resources-dropdown-wrapper" id="resources-dropdown" onmouseleave="resources_dropdown_hide()">

      <div class="container resources-dropdown">

        <div class="row">
          <div class="col resources-dropdown-border-first">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/menu-education.svg" alt="">
              <h4>Education</h4>
            </div>

            <a href="award-management-guides.html" class="link-to">
              <p class="resources-dropdown-links">Ebooks, Guides & More</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Become OpenWater Certified</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Awards 101 Books</p>
            </a>




          </div>

          <div class="col resources-dropdown-border">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/why-ow-menu-icon.svg" alt="">
              <h4>Why OpenWater?</h4>
            </div>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Case Studies</p>
            </a>
            <a href="product-demos-&-resources.html" class="link-to">
              <p class="resources-dropdown-links">Product Demos</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Why Choose OpenWater?</p>
            </a>

            <button class="menu-integration-btn">Browse All</button>

          </div>

          <div class="col resources-dropdown-border-last">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/user-resources-menu-icon.svg" alt="">
              <h4>User resources</h4>
            </div>

            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Help Center</p>
            </a>

            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">API Docs</p>
            </a>

            <a href="learn.html" class="link-to">
              <p class="resources-dropdown-links">Online Training</p>
            </a>

            <button class="menu-integration-btn">Browse All</button>
          </div>
        </div>



      </div>

    </div>

    <div class="about-dropdown-wrapper" id="about-dropdown">
      <div class="container about-dropdown">
        <div class="row">
          <div class="co1 about-dropdown-small-box" onmouseleave="about_dropdown_hide()">

            <a href="who-we-are.html" class="link-to">
              <p class="about-dropdown-small-box-f-child">Who we are?</p>
            </a>
            <a href="why-open-water.html" class="link-to">
              <p>Why OpenWater?</p>
            </a>

            <a href="career-page.html" class="link-to">
              <p>Careers</p>
            </a>

            <a href="http://" class="link-to">
              <p>Press</p>
            </a>
            <a href="blog.html" class="link-to">
              <p class="about-dropdown-small-box-l-child">Blog</p>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- mobile nav -->
    <nav class="mobile-nav">
      <div class="container">
        <div class="row">
          <div class="col mobile-nav-logo-wrapper">
            <a href="/index.html" class="link-to">
              <img src="images/nav-logo.svg" alt="" id="mobile-logo">
            </a>

            <div style="display: none;" id="mobile-platform" onclick="show_mobile_main_menu_platform()">

              <img src="images/mobile_mnu-back.svg" alt="">
              <h5>Platform</h5>

            </div>

            <div style="display: none;" id="mobile-resource" onclick="show_mobile_main_menu_resources()">

              <img src="images/mobile_mnu-back.svg" alt="">
              <h5>Resources</h5>

            </div>


            <div style="display: none;" id="mobile-about" onclick="show_mobile_main_menu_about()">

              <img src="images/mobile_mnu-back.svg" alt="">
              <h5>About Us</h5>

            </div>


          </div>
          <div class="col toggle-btn-wrapper">

            <img src="images/mobile-nav-expan-btn.svg" alt="" onclick="mobile_menu_show()" id="mobile-nav-expan">
            <img src="images/mobile-menu-close.svg" alt="" onclick="mobile_menu_hide()" style="display:none;"
              id="mobile-nav-close-btn">


          </div>
        </div>
      </div>
    </nav>

    <!-- mobile main dropdown -->
    <div class="main-drop-down" id="main-drop-down">
      <div class="mobile-main-dropdown">

        <div class="mobile-main-menu-links-wrapper" onclick="platform_mobile_menu_show()">
          <div class="mobile-main-menu-links">
            <p>Platform</p>
            <img src="images/mobile-menu-icon-new.svg" alt="">
          </div>
        </div>

        <div class="mobile-main-menu-links-wrapper" onclick="resource_mobile_menu_show()">
          <div class="mobile-main-menu-links">
            <p>Resources</p>
            <img src="images/mobile-menu-icon-new.svg" alt="">
          </div>
        </div>

        <div class="mobile-main-menu-links-wrapper" onclick="about_mobile_menu_show()">
          <div class="mobile-main-menu-links">
            <p>About Us</p>
            <img src="images/mobile-menu-icon-new.svg" alt="">
          </div>
        </div>

        <div class="mobile-main-menu-links-wrapper" style="border-bottom: none;">
          <div class="mobile-main-menu-links">
            <a href="contact-us.html">
              <button class="demo-btn">Request a Demo</button>
            </a>
          </div>
        </div>


      </div>
    </div>

    <!-- mobile platform dropdown -->
    <div style="display: none;" id="mobile-platform-expan">
      <div class="container">

        <div class="row mobile-platform-dropdown-row">
          <div class="col platform-border">



            <a href="abstract-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321077.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Abstract Software</h4>
                  <p>Visual project management</p>
                </div>
              </div>

            </a>



            <a href="/awards-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427320988.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Awards Software</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>


            <a href="grant-management-software.html" class="link-to">

              <div class="menu-links">
                <img src="images/Frame 427321078.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Grants </h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>
            </a>


            <a href="scholarship-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321079.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Scholarships</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>


            <a href="fellowship-management-software.html" class="link-to">
              <div class="menu-links">
                <img src="images/Frame 427321080.svg" alt="">
                <div class="menu-dropdown-text">
                  <h4>Fellowships</h4>
                  <p>Project and issue tracking</p>
                </div>
              </div>

            </a>




          </div>
          <div class="col integration-padding">
            <h2 class="platform-menu-headding">Integrations</h2>

            <a href="integrations-details.html" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>iMis</h4>
                  <p>iMIS is the world's only Engagement Management System (EMS)</p>
                </div>
              </div>
            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Salesforce</h4>
                  <p>Unify marketing, sales, service, commerce, and IT on the world's #1 CRM.</p>
                </div>
              </div>
            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Airtable</h4>
                  <p>Airtable is the spreadsheet system that does wonders. </p>
                </div>
              </div>

            </a>


            <a href="http://" class="link-to">
              <div class="menu-links-integrations">
                <div class="menu-dropdown-text">
                  <h4>Airtable</h4>
                  <p>Airtable is the spreadsheet system that does wonders. </p>
                </div>
              </div>

            </a>


            <a href="integrations-listing.html">
              <button class="menu-integration-btn">Browse All</button>
            </a>


          </div>



        </div>

        <div class="col-12">

          <div class="mobile-platform-image-wrapper">
            <div class="mobile-platform-image">
              <img src="images/Frame 427321101.svg" alt="" class="menu-dropdown-image">
            </div>

          </div>

        </div>



      </div>
    </div>

    <!-- mobile resource dropdown -->
    <div style="display: none;" id="mobile-resource-expan">

      <div class="container">

        <div class="row">
          <div class="col resources-dropdown-border-first">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/menu-education.svg" alt="">
              <h4>Education</h4>
            </div>

            <a href="award-management-guides.html" class="link-to">
              <p class="resources-dropdown-links">Ebooks, Guides & More</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Become OpenWater Certified</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Awards 101 Books</p>
            </a>




          </div>

          <div class="col resources-dropdown-border">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/why-ow-menu-icon.svg" alt="">
              <h4>Why OpenWater?</h4>
            </div>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Case Studies</p>
            </a>
            <a href="product-demos-&-resources.html" class="link-to">
              <p class="resources-dropdown-links">Product Demos</p>
            </a>
            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Why Choose OpenWater?</p>
            </a>

            <button class="menu-integration-btn">Browse All</button>

          </div>

          <div class="col resources-dropdown-border-last">
            <div class="resources-dropdown-heading-wrapper">
              <img src="images/user-resources-menu-icon.svg" alt="">
              <h4>User resources</h4>
            </div>

            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">Help Center</p>
            </a>

            <a href="http://" class="link-to">
              <p class="resources-dropdown-links">API Docs</p>
            </a>

            <a href="learn.html" class="link-to">
              <p class="resources-dropdown-links">Online Training</p>
            </a>

            <button class="menu-integration-btn">Browse All</button>
          </div>
        </div>



      </div>

    </div>


    <div style="display: none;" id="mobile-about-expan">
      <div class="mobile-about-wrapper">

        <div class="mobile-main-menu-links-wrapper">
          <a href="who-we-are.html" class="link-to">
            <p>Who we are?</p>
          </a>

        </div>

        <div class="mobile-main-menu-links-wrapper">

          <a href="why-open-water.html" class="link-to">
            <p>Why OpenWater?</p>
          </a>
        </div>

        <div class="mobile-main-menu-links-wrapper">
          <a href="career-page.html" class="link-to">
            <p>Careers</p>
          </a>
        </div>

        <div class="mobile-main-menu-links-wrapper">
          <a href="http://" class="link-to">
            <p>Press</p>
          </a>
        </div>

        <div class="mobile-main-menu-links-wrapper">
          <a href="blog.html" class="link-to">
            <p style="border-bottom: none;">Blog</p>
          </a>
        </div>

      </div>


    </div>








  </header>
  <!-- navigation end -->