<section class="footer-cta">
    <div class="light-house-lottie" id="lightHouse"></div>
    <div class="container">

        <div class="footer-cta-content-wrapper">
            <h2 class="testimonials-heading">Get in touch with an Expert</h2>
            <p class="at-glance-para">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text ever
                since.
            </p>

            <a href=""><button class="at-glance-btn">Request a Demo</button></a>


        </div>


    </div>

    <div class="wave-container">

    </div>


</section>

<!-- lighthouse lottie -->
<script>
    // Load the animation
    var lightHouse = lottie.loadAnimation({
        container: document.getElementById('lightHouse'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'lottie/Lighthouse.json' // Replace with the path to your animation JSON file
    });
</script>